<div class="fragment" id="fragment1">
    <div class="frag-head">
        <div>
            <div class="frag-title">Welcome aboard <span data-dojo-attach-point="spanNickname1"></span></div>
        </div>
    </div>
    <p class="meta-note">Welcome detective <b><span data-dojo-attach-point="spanNickname2"></span></b>. You're needed straight away on a highly confidential case: the panels on our beloved Z17 mainframe have been defaced as you can see in the photo below taken at the crime scene. We have a number of suspects lined up, but we need your help in identifying the perpetrator.</p>
    <div class="feedback" id="feedback1" data-dojo-attach-point="feedback1"></div>
    <img src="widget/templates/images/nomorez_sepia.jpg" class="largepic"/>
</div>