<div class="fragment" id="fragment1">
    <div class="frag-head">
        <div>
            <div class="frag-title">Nickname for detective absent, provide nickname</div>
        </div>
        <div class="frag-status" id="status1" data-dojo-attach-point="status1">LOCKED</div>
    </div>
    <p class="meta-note">Welcome detective. Congratulations on making it onto the system. Since this is your first time please give us a name with which we can address you. Also, if you're okay with us contacting you after today, you can provide your email address, but this is purely voluntary.</p>
    <div class="answer-row">
        <input type="text" id="inputNickname" data-dojo-attach-point="inputNickname" placeholder="ENTER NICKNAME" autocomplete="off" spellcheck="false">
    </div>
    <div class="answer-row">
        <input type="text" id="inputEmail" data-dojo-attach-point="inputEmail" placeholder="OPTIONALLY ENTER EMAIL ADDRESS" autocomplete="off" spellcheck="false">
        <button id="buttonTransmit" data-dojo-attach-point="buttonTransmit">TRANSMIT</button>
    </div>
    <div class="feedback" id="feedback1" data-dojo-attach-point="feedback1"></div>
</div>