<div>
    <div class="frag-head">
        <div>
            <div class="frag-title">SUSPECT 2: L-Jaks</div>
        </div>
        <div class="frag-status" data-dojo-id="status2" data-dojo-attach-point="status2">LOCKED</div>
    </div>
    <div class="payload">
        <img src="widget/templates/images/ljaks.jpg"/>
        <div>
            Details about L-Jaks
            <p class="meta-note">I've analyzed L-Jaks' emails, group chats and social media posts.</p>
            <p class="meta-note">L-Jaks has an obsession with LEGO uncommon in grown ups. On its own that fact is irrelevant, but he's been known to combine LEGO with system and application programming on the mainframe.</p>
            <p class="meta-note">I hacked my way into his HR employee files and learned he's been reprimanded multiple times for trying to put his LEGO trains in the computer room and have them controlled through CICS transactions.</p>
            <p class="meta-note">This lead me to investigate the running CICS regions to see if there are any traces left of his unsanctioned LEGO activities.</p>
            <p class="meta-note">I discovered a transient data queue but I don't quite know what to make of it. It's stored under queuename LETMYLEGOGO.</p>
            <div class="answer-row">
                <input id="inputWork2" data-dojo-attach-point="inputWork2" maxlength="20" placeholder="ENTER TSQ NAME" autocomplete="off" spellcheck="false"/>
                <button class="hint-toggle" data-dojo-attach-point="buttonFetchTSQ2">FETCH TSQ</button>
            </div>
        </div>
    </div>
</div>