<div>
    <div class="fragment" id="fragment1">
        <div class="frag-head">
            <div>
                <div class="frag-title">The suspects</div>
            </div>
        </div>
        <p class="meta-note">Good job <b><span data-dojo-attach-point="spanNickname1"></span></b> for identifying these 3 main suspects. In the meantime we've had an AI go through the employee profiles of everyone that visited the computer room, including these 3. Below is what the AI came up with, but it couldn't come to a definitive primary suspect. We want you to review its findings for each, we'll leave it up to you in what order you wish to continue.</p>
    </div>
    <div class="progress-row">
        <div class="progress-chip" data-dojo-attach-point="chip1">SUSPECT 1</div>
        <div class="progress-chip" data-dojo-attach-point="chip2">SUSPECT 2</div>
        <div class="progress-chip" data-dojo-attach-point="chip3">SUSPECT 3</div>
    </div>
    <div class="fragment" data-dojo-attach-point="fragmentSuspect1">
        <div class="frag-head">
            <div>
                <div class="frag-title">SUSPECT 1: ICU Bob</div>
            </div>
            <div class="frag-status" id="status1" data-dojo-attach-point="status1">LOCKED</div>
        </div>
        <div class="payload">
            <img src="widget/templates/images/icubobsmall.jpg"/>
            <div>
                Details about ICU Bob
                <p class="meta-note">blablabla</p>
            </div>
        </div>
    </div>
    <div class="fragment" data-dojo-attach-point="fragmentSuspect2">
        <div class="frag-head">
            <div>
                <div class="frag-title">SUSPECT 2: L-Jaks</div>
            </div>
            <div class="frag-status" id="status2" data-dojo-attach-point="status2">LOCKED</div>
        </div>
        <div class="payload">
            <img src="widget/templates/images/ljaks.jpg"/>
            <div>
                Details about L-Jaks
                <p class="meta-note">blablabla</p>
            </div>
        </div>
    </div>
    <div class="fragment" data-dojo-attach-point="fragmentSuspect3">
        <div class="frag-head">
            <div>
                <div class="frag-title">SUSPECT 3: Henri (WoZ)</div>
            </div>
            <div class="frag-status" id="status3" data-dojo-attach-point="status3">LOCKED</div>
        </div>
        <div class="payload">
            <img src="widget/templates/images/henriwoz.jpg"/>
            <div>
                Details about Henri (Wizard of z/OS)
                <p class="meta-note">blablabla</p>
            </div>
        </div>
    </div>
</div>