<div>
    <div class="frag-head">
        <div>
            <div class="frag-title">SUSPECT 3: Henri (WoZ)</div>
        </div>
        <div class="frag-status" data-dojo-id="status3" data-dojo-attach-point="status3">LOCKED</div>
    </div>
    <div class="payload">
        <img src="widget/templates/images/henriwoz.jpg"/>
        <div>
            Details about Henri (Wizard of z/OS)
            <p class="meta-note">I've analyzed Wizard of z/OS's emails, group chats and social media posts.</p>
            <p class="meta-note">There's a lot of communication about him starting his own bank. He's been asking around for an IBM Z environment to run it on, but so far has gotten a lot of "no"'s.</p>
            <p class="meta-note">It seems he found another way though so run applications because there seems to be a banking app online.</p>
            <p class="meta-note">I've tried to gain access but my efforts have been unsuccessfull so far.</p>
            <p class="meta-note">Maybe if you can gain access you can look through bank statements or transaction records to see if there's anything suspicious.</p>
        </div>
    </div>
</div>